NEXT_PUBLIC_APPWRITE_PROJECT_ID=64763d0019a92eb816f2
NEXT_PUBLIC_DATABASE_ID=64764108a04bc7675d58
NEXT_PUBLIC_COLLECTION_ID=6476417d9d74e8ec8dae
OPENAI_API_KEY=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